.bouton{
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: rgb(0, 9, 128);
    transition: background 0.3s ease;
    }
    .bouton:hover {
    background: #1BCB7F;
    color: white;
    }